@page {
	margin-top: 0.5cm;
	margin-bottom: 0.5cm;
	margin-left: 1.5cm;
	margin-right: 1.5cm
}

body.bgFFFFCC {
	background-color: #fff;
}

body {
	font-family: "Open Sans", sans-serif;
	margin: auto;
	background-color: #fff;
	background-repeat: no-repeat;
	color: #555;
}

.ifrmErgebnis {	
	width: 860px;
	margin: 20px -30px 0px;
	border: none;
	background-color: #fff;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
}

div#centerstyle {
	width: 800px;
	margin: 60px auto auto auto;
}

h1 {
	font-size: 20pt;
	font-weight: 600;
}

h1.title {
	text-align: center;
}

h2 {
	font-size: 13pt;
	font-weight: 600;
}

h3 {
	font-size: 12pt;
	font-weight: 400;
}

h4 {
	font-size: 10pt;
	font-weight: 400;
}

h5 {
	font-size: 8pt;
	font-weight: 400;
}

h6 {
	font-size: 10pt;
	font-weight: 400;
}

p {
	font-size: 8pt;
	font-weight: 400;
}

a {
	font-weight: 600;
	color: #2A5688;
}

a:link {
	color: #2A5688;
}

a:visited {
	color: #1D3D61;
}

b {
	font-weight: 600;
}

td {
	font-size: 8pt;
	font-weight: 400;
	border-left-color: rgba(0, 0, 0, 0.06);
	border-right-color: rgba(0, 0, 0, 0.06);
	border-bottom-color: rgba(0, 0, 0, 0.12);
	border-top-color: rgba(0, 0, 0, 0.12);
	border-style: solid;
	border-width: 1px;
}

table.borderless td {
	border-width: 0px;
	border: none;
}

table {
	border-spacing: 0px;
	margin: 25px auto 2px auto;
	background-color: #D7E6F3;
	box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.2);
	border-collapse: collapse;
	border: 1px solid rgba(0, 0, 0, 0.3);
}

table.borderless {
	margin: 2px auto 2px auto;
	box-shadow: none;
	border: none;
	background: none;
}

table.stats {
	margin: 1px 0px;
	box-shadow: none;
	height: 2px;
	min-height: 0px;
	max-height: 2px;
}

table.stats tr,table.stats td {
	height: 2px;
}

.bgFFFFCC {
	background-color: #FFFFFF;
} /* light yellow */
.bgFFFF66 {
	background-color: #FFFFFF;
} /* yellow */ /* 444 */
.bgFAFA44 {
	background-color: #0f465f;
	background-color: rgba(15, 70, 95, 0.3);
	/*	background: */
} /* mix yellow */
.bgF0F000 {
	background-color: #8ec5de;
} /* dark yellow */
.bgFFCC33 {
	background-color: #78bad8;
} /* light orange */
.bgFF9900 {
	background-color: #bbdceb;
} /* orange 3474B0*/
.bgCC9933 {
	background-color: rgba(10, 75, 120, 0.3);
} /* dark orange */
.bg00CC00 {
	background-color: rgba(0, 200, 96, 0.5);
} /* aufsteiger */
.bgFF6633 {
	background-color: rgba(220, 16, 0, 0.4);
} /* absteiger */
.bgFF0022 {
	background-color: #e8f3f8;
} /* zurueck */
.bg33FF00 {
	background-color: rgba(0, 200, 96, 0.5);
} /* win */
.bgFF0000 {
	background-color: rgba(220, 16, 0, 0.4);
} /* lose */
.bgD8D8D8 {
	background-color: #156285;
} /* frame-top */
.bg474747 {
	background-color: #156285;
} /* frame_bottom */
.bgFF6600 {
	background-color: #e8f3f8;
} /* kampflos */
.colFF9900 {
	color: #a5d1e5;
} /* Ansetzungen in der Tabelle */
header {
	/* Breiter blauer Balken */
	background: #1E8CBE;
	height: 43px;
	top: 0px;
	box-shadow: 0px -1px 0px rgba(0, 86, 132, 0.8) inset, 0px 1px 3px rgba(0, 86, 132, 0.4);
}
header.mobile {
	margin: auto;
	font-size: 13pt;
	width: 820px;
}
header.desktop {
	width: 100%;
	left: 0px;
	position: fixed;
}

font.stand {
	position:relative;
	float:right;
	top: 14px;
	right:5px;
	font-size: 8pt;
	color:rgba(255, 255, 255, 0.7);
}
font.standMobile {
	float:right;
	top: 16px;
	right:5px;
	font-size: 8pt;
	color: #1E8CBE;
}
div.standMobile {
	width: 800px;
	margin: 2px auto auto;
}

a.navigationSelected {
	color: rgba(255, 255, 255, 0.95);
}
a.navigationSelected:hover {
	color: rgba(255, 255, 255, 1);
}
a.navigationUnselected {
	color: rgba(255, 255, 255, 0.5);
}
a.navigationUnselected:hover {
	color: rgba(255, 255, 255, 1);
}

nav {
	text-align: center;
}

nav ul {
	list-style: none;	margin: auto;
	width: 840px;
}

nav ul li {
	color: rgb(30, 140, 190);
	float: left;
	position: relative;
}


nav ul li a {
	display: block;
	padding: 10px 14px 10px 14px;
	text-decoration: none;
}
nav ul li:hover a {
	/** gewählte menuepunkte in der headline und in der Drop-Down-Auswahl. */
	background: rgba(0, 0, 0, 0.1);
	color: #fff;
}

nav ul ul {
	opacity: 0.0;
	visibility: hidden;
	display: block;
}

nav ul li:hover>ul {
	visibility: visible;
	opacity: 1;
}
nav ul li:hover>ul.desktop {
	transition-delay: 250ms;
}

nav ul ul {
	background: #1E8CBE;
	width:220px;
	padding: 0;
	position: absolute;
	max-height: 500px;
	overflow: auto;
	border-left: 1px solid rgba(0,0,0, 0.2);
	border-right: 1px solid rgba(0,0,0, 0.2);
}
nav ul ul li {
	font-weight: 400;
	font-size: 9pt;
	float: none;
	border-bottom: 1px solid rgba(0,0,0, 0.2);
	position: relative;
}

nav ul ul li a {
	padding: 2px 2px;
}

nav ul ul li a:hover {
	background: rgba(0, 0, 0, 0.2);
}